.Home {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	gap: 0.33em;
	max-width: 1024px;
	margin: 0 auto;
	padding-top: 3em;
}
.intro-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.2em;
}
.intro-section h1 {
	font-family: "Tilt Neon", sans-serif;
	font-size: 3rem;
	
}
.start-link {
	all: unset;
	background-color: rgb(200, 232, 247);
	color: rgb(16, 16, 16);
	border-radius: 8px;
	width: 200px;
	padding: 1em 0;
	text-align: center;
	cursor: pointer;
	transition: background-color 0.75s;
	border: 2px solid black;
	box-shadow: 1px 1px 1px 1px #474747;
	margin-bottom: 10px;
}
.start-link:hover {
	background-color: rgb(136, 205, 240);
}
