.roadmap {
	height: 100%;
	width: 720px;
	padding: 5em 2em 7em;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 2em;
}
.roadmap-desc {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
}
.conventions {
	font-size: 1rem;
}
.conventions p {
	margin-bottom: 4px;
}
