.roadmap {
	height: 100%;
	padding: 3em 2em 1em;
	display: flex;
	flex-direction: column;
	gap: 2em;
}
.roadmap-desc {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
}
.conventions {
	font-size: 1rem;
}
.conventions p {
	margin-bottom: 4px;
}
@media (min-width: 870px) {
	.roadmap {
		max-width: 720px;
		margin: 0 auto;
		padding: 4em 2em 2em;
	}
	
}