@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Cutive&family=Gabarito:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body,
html, #root {
	height: 100%;

}

.App {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
}

.inner-container {
	height: 100%;
	
	
	display: flex;
	flex-direction: column;
	

}

.clock-wrapper {
	margin-top: 30px;
	border: #0b0b0c 2px solid;
	padding: 2em;
	border-radius: 8px;
	background: linear-gradient(#ededf1, #e6d4d4);
	position: fixed;
	opacity: 0.98;
	
	


}

.hidden-button, .show-button {
	padding: 5px;
	width: 40px;
	height: 40px;
	display: flex;
	background: rgb(144, 72, 216);
	margin-top: 10px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: #0b0b0c 2px solid;

	border-radius: 8px;
	position: absolute;
	top: 1%;
	left: 3%;


}
.show-button{
	top: 7%;
	position: fixed;
	opacity: 0.7;
}

.hidden-button:hover, .show-button:hover {
	background: rgb(136, 205, 240);
}

.result-container {
	margin: 1em auto;
	padding: 0.43em 0.84em;
	border: 2px solid #0b0b0c;
	border-radius: 8px;
	box-shadow: 1px 1px 1px 1px #000000;
	text-align: center;
	max-width: 150px;
}

.result-container h3 {
	font-size: 1rem;
}

.semitones {
	display: block;
	text-align: center;
	font-size: 0.85rem;
	margin-top: 0.43em;
	color: rgb(101, 85, 226);
	font-family: "Roboto", sans-serif;
}

.intervals,
.scales,
.chords {
	padding: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.topic-content {

	margin-top: 5em;
}

.topic-content .topic-introduction {
	display: flex;
	flex-direction: column;
	justify-content: center;

	gap: 2em;
}

.topic-content .topic-introduction h2 {
	font-size: 2.7rem;
	text-align: center;
}

.topic-content .topic-introduction p {
	font-size: 1.27rem;
	font-weight: 300;
	word-spacing: 0.15em;
	line-height: 1.5;
}

@media (min-width: 870px) {
	.inner-container {
		margin-top: 50px;
		gap: 1em;
	}

	.intervals,
	.scales,
	.chords {
		margin-left: 450px;
		max-width: calc(100vw - 420px);
		padding: 3em;
	}

	.hidden-button {
		display: none;
	}

	.clock-wrapper {
		top: 7%;
		left: 5%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 10px;

	}
}

@media (min-width: 1040px) {
	.clock-wrapper {
		top: 12%;
		left: 5%;
		display: flex;
		padding: 2em;

		/* flex-direction: column; */
		align-items: center;
	}
}